@import "tailwindcss";

@font-face {
  font-family: 'BricolageGrotesque';
  src: url('./assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BricolageGrotesque';
  src: url('./assets/fonts/Bricolage_Grotesque/static/BricolageGrotesque-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.bricolage {
  font-family: 'BricolageGrotesque', sans-serif;
}

@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DM_Sans/static/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DM_Sans/static/DMSans-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DM_Sans/static/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DM_Sans/static/DMSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  src: url('./assets/fonts/DM_Sans/static/DMSans-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

.dmsans {
  font-family: 'DMSans', sans-serif;
}

.no-drag {
  -webkit-user-drag: none;
  user-drag: none;
}


/* Для Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* тонкий */
  scrollbar-color: rgba(148, 163, 184, 0.6) transparent;
}

/* Для Chrome / Edge / Safari */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;            /* ширина полосы прокрутки */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* фон трека */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.6); /* сам ползунок */
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.9);
}

.custom-scrollbar {
  scrollbar-width: none; /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;         /* Chrome/Safari */
}
